body {
  text-align: center;
  background-color: #FF6A00;
  font-family: Helvetica, sans-serif;
}

h1 {
  color: #FFFFFF;
}

h3 {
  color: #FFFFFF;
}

p {
  color: #FFFFFF;
}

a {
  color: #0000FF;
}
